extends layout

block content
  form#search(method='post').form.form-search
    .input-append.pull-right
      input(type='text',name='query',class='search-query')
      input(type='submit',class='btn',value='Search')
    div
      span count:&nbsp
      span.badge= counts
    - var prevSubTag = null
  #mails
    table.mails.table.table-bordered.table-condensed
      thead
        tr
          th Title
          th tag
      tbody
        - each mail in mails
          - console.log(prevSubTag)
          - if (prevSubTag != mail.subtag[0])
            tr.subtagLabel
              td(colspan=3)
                span.label.label-info=mail.subtag[0]
          - prevSubTag = mail.subtag[0]

          tr(class='mail',title=mail.id + '/' + mail.seqno)
            td
              span.badge.pull-right= util.dateFormat(mail.headers.date, 'yyyy-mm-dd hh:MM:ss')
              div.from= mail.headers.from
              div.subject= mail.headers.subject
              input(type='hidden',name='body',value=mail.text)
            td
              - each tag in mail.tag
                span.label.label-success=tag
              - each subtag in mail.subtag
                span.label.label-info=subtag
  #mailbody
    pre

